<?xml version="1.0" encoding="UTF-8"?>
<plugin id="hue-ess-edit-plugin" version="0.0.1-sp1807" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ESSEditPlugin</name>
  <js-module name="ESSEditPlugin" src="www/ESSEditPlugin.js">
    <clobbers target="cordova.plugins.ESSEditPlugin" />
  </js-module>
  <hook type="after_plugin_install" src="scripts/hook.js" />
  <platform name="android">
    <!-- 平台类型 -->
    <framework src="com.android.support:design:25.2.0" />
    <framework src="com.android.volley:volley:1.0.0" />
    <framework src="com.android.support:appcompat-v7:25.2.0" />
    <framework src="org.java-websocket:Java-WebSocket:1.3.0" />
    <framework src="org.apache.commons:commons-lang3:3.5" />
    <framework src="com.google.code.gson:gson:2.3.1" />
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity  android:name="com.worksap.company.ess.plugin.mobile.front.activity.InputPageActivity"  android:theme="@style/GATheme.NoActionBar" />
    </config-file>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ESSEditPlugin">
        <!-- JS调用时的前缀名字 -->
        <param name="android-package" value="com.worksap.company.ess.plugin.mobile.ESSEditPlugin"/>
        <!-- .java类名全路径 -->
      </feature>
    </config-file>
    <!-- drawable files -->
    <resource-file src="src/android/res/drawable/attachments.xml" target="res/drawable/attachments.xml" />
    <resource-file src="src/android/res/drawable/send_24px.xml" target="res/drawable/send_24px.xml" />
    <resource-file src="src/android/res/drawable/bottom_border.xml" target="res/drawable/bottom_border.xml" />
    <resource-file src="src/android/res/drawable/form_view_button.xml" target="res/drawable/form_view_button.xml" />
    <resource-file src="src/android/res/drawable/ic_back_32dp.xml" target="res/drawable/ic_back_32dp.xml" />
    <resource-file src="src/android/res/drawable/spreadsheet_view_button.xml" target="res/drawable/spreadsheet_view_button.xml" />
    <resource-file src="src/android/res/drawable/indicator.png" target="res/drawable/indicator.png" />
    <resource-file src="src/android/res/drawable/close_vector.xml" target="res/drawable/close_vector.xml" />
    <resource-file src="src/android/res/drawable/spreadsheet_progress_bar.xml" target="res/drawable/spreadsheet_progress_bar.xml" />
    <resource-file src="src/android/res/drawable/ic_fx_27dp.xml" target="res/drawable/ic_fx_27dp.xml" />
    <resource-file src="src/android/res/drawable/bg_edittext_normal.xml" target="res/drawable/bg_edittext_normal.xml" />
    <resource-file src="src/android/res/drawable/bg_edittext_focused.xml" target="res/drawable/bg_edittext_focused.xml" />
    <resource-file src="src/android/res/drawable/ic_edit_cancel.xml" target="res/drawable/ic_edit_cancel.xml" />
    <resource-file src="src/android/res/drawable/ic_edit_confirm.xml" target="res/drawable/ic_edit_confirm.xml" />
    <resource-file src="src/android/res/drawable/no_border.xml" target="res/drawable/no_border.xml" />
    <resource-file src="src/android/res/drawable/right_border.xml" target="res/drawable/right_border.xml" />
    <resource-file src="src/android/res/drawable/top_border.xml" target="res/drawable/top_border.xml" />
    <resource-file src="src/android/res/drawable/left_border.xml" target="res/drawable/left_border.xml" />
    <resource-file src="src/android/res/drawable/outside_borders.xml" target="res/drawable/outside_borders.xml" />
    <resource-file src="src/android/res/drawable/vertical_border.xml" target="res/drawable/vertical_border.xml" />
    <resource-file src="src/android/res/drawable/horizontal_border.xml" target="res/drawable/horizontal_border.xml" />
    <resource-file src="src/android/res/drawable/inner_borders.xml" target="res/drawable/inner_borders.xml" />
    <resource-file src="src/android/res/drawable/all_borders.xml" target="res/drawable/all_borders.xml" />
    <resource-file src="src/android/res/drawable/selected_item_background.xml" target="res/drawable/selected_item_background.xml" />
    <resource-file src="src/android/res/drawable/selected_item_text_color.xml" target="res/drawable/selected_item_text_color.xml" />
    <resource-file src="src/android/res/drawable/recycle_view_divider.xml" target="res/drawable/recycle_view_divider.xml" />
    <resource-file src="src/android/res/drawable/ic_comment_list_16dp.xml" target="res/drawable/ic_comment_list_16dp.xml" />
    <resource-file src="src/android/res/drawable/ic_validation_16dp.xml" target="res/drawable/ic_validation_16dp.xml" />
    <!-- layout files -->
    <resource-file src="src/android/res/layout/actionbar_input_page.xml" target="res/layout/actionbar_input_page.xml" />
    <resource-file src="src/android/res/layout/activity_input_page.xml" target="res/layout/activity_input_page.xml" />
    <resource-file src="src/android/res/layout/application_detail.xml" target="res/layout/application_detail.xml" />
    <resource-file src="src/android/res/layout/bottom_sheet.xml" target="res/layout/bottom_sheet.xml" />
    <resource-file src="src/android/res/layout/content_spreadsheet.xml" target="res/layout/content_spreadsheet.xml" />
    <resource-file src="src/android/res/layout/formula_bar.xml" target="res/layout/formula_bar.xml" />
    <resource-file src="src/android/res/layout/sheet_manager.xml" target="res/layout/sheet_manager.xml" />
    <resource-file src="src/android/res/layout/formula_edit_button.xml" target="res/layout/formula_edit_button.xml" />
    <resource-file src="src/android/res/layout/spreadsheet_grid.xml" target="res/layout/spreadsheet_grid.xml" />
    <resource-file src="src/android/res/layout/spreadsheet_loading.xml" target="res/layout/spreadsheet_loading.xml" />
    <resource-file src="src/android/res/layout/sheet_manager_item.xml" target="res/layout/sheet_manager_item.xml" />
    <resource-file src="src/android/res/layout/esslayoutnoscroll.xml" target="res/layout/esslayoutnoscroll.xml" />
    <resource-file src="src/android/res/layout/esslayoutbothscroll.xml" target="res/layout/esslayoutbothscroll.xml" />
    <resource-file src="src/android/res/layout/comment_indicator.xml" target="res/layout/comment_indicator.xml" />
    <resource-file src="src/android/res/layout/validation_indicator.xml" target="res/layout/validation_indicator.xml" />
    <!-- animation files -->
    <resource-file src="src/android/res/anim/slide_from_left.xml" target="res/anim/slide_from_left.xml" />
    <resource-file src="src/android/res/anim/slide_from_right.xml" target="res/anim/slide_from_right.xml" />
    <resource-file src="src/android/res/anim/slide_to_left.xml" target="res/anim/slide_to_left.xml" />
    <resource-file src="src/android/res/anim/slide_to_right.xml" target="res/anim/slide_to_right.xml" />
    <!-- values files -->
    <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
    <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
    <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
    <resource-file src="src/android/res/values/strings-ess.xml" target="res/values/strings-ess.xml" />
    <resource-file src="src/android/res/values-ja/strings-ess.xml" target="res/values-ja/strings-ess.xml" />
    <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
    <resource-file src="src/android/res/values/integers.xml" target="res/values/integers.xml" />
    <resource-file src="src/android/res/values/ids.xml" target="res/values/ids.xml" />
    <!-- menu files -->
    <resource-file src="src/android/res/menu/send.xml" target="res/menu/send.xml" />
    <!-- source files -->
    <source-file src="src/android/src/com/worksap/company/mobile" target-dir="src/com/worksap/company/ess/plugin"/>
    <source-file src="src/android/src/com/worksap/company/ess/mobile" target-dir="src/com/worksap/company/ess"/>
    <source-file src="src/android/src/com/worksap/company/huehybridlib" target-dir="src/com/worksap/company"/>
    <source-file src="src/android/src/com/worksap/company/hue" target-dir="src/com/worksap/company"/>
    <!-- src:java源文件的路径， target-dir:插件安装好后，源文件的位置，要和上面的包名对应 -->
  </platform>
  <!-- iOS -->
  <platform name="ios">
    <framework src="src/ios/frameworks/SwiftyJSON.framework" custom="true" embed="true"/>
    <framework src="src/ios/frameworks/Starscream.framework" custom="true" embed="true"/>
    <framework src="src/ios/frameworks/ObjectMapper.framework" custom="true" embed="true"/>
    <framework src="src/ios/frameworks/Alamofire.framework" custom="true" embed="true"/>
    <resource-file src="src/ios/Resources/wapicon.ttf"/>
    <resource-file src="src/ios/Resources/loading.html"/>
    <resource-file src="src/ios/fx.imageset/fx.png"/>
    <resource-file src="src/ios/fx.imageset/fx@2x.png"/>
    <resource-file src="src/ios/Resources/close_white@2x.png"/>
    <resource-file src="src/ios/Resources/close_white.png"/>
    <resource-file src="src/ios/Resources/en.lproj/Localizable_ESS.strings" target="en.lproj/Localizable_ESS.strings"/>
    <resource-file src="src/ios/Resources/ja.lproj/Localizable_ESS.strings" target="ja.lproj/Localizable_ESS.strings"/>
    <resource-file src="src/ios/ESSEdit.storyboard" />
    <resource-file src="src/ios/Resources/_formula_en.json" />
    <resource-file src="src/ios/Resources/_formula_ja.json" />
    <source-file src="src/ios/FormulaBarView.xib" />
    <source-file src="src/ios/DataValidationIndicatorView.xib" />
    <source-file src="src/ios/CommentIndicatorView.xib" />
    <source-file src="src/ios/LoadingView.xib" />
    <source-file src="src/ios/SheetTabView.xib" />
    <source-file src="src/ios/sourceCode/AlignmentHelper.swift" />
    <source-file src="src/ios/sourceCode/AbstractGlobalCoordinator.swift" />
    <source-file src="src/ios/sourceCode/GlobalCoordinator.swift" />
    <source-file src="src/ios/sourceCode/AnimatorManager.m" />
    <source-file src="src/ios/sourceCode/AutoWrapCalculateHelper.swift" />
    <source-file src="src/ios/sourceCode/BaseSection.swift" />
    <source-file src="src/ios/sourceCode/BaseSectionBuilder.swift" />
    <source-file src="src/ios/sourceCode/BorderHelper.swift" />
    <source-file src="src/ios/sourceCode/CanvasView.m" />
    <source-file src="src/ios/sourceCode/CellCache.m" />
    <source-file src="src/ios/sourceCode/CellFormat.swift" />
    <source-file src="src/ios/sourceCode/CellFormatHelper.swift" />
    <source-file src="src/ios/sourceCode/CellFormatOption.swift" />
    <source-file src="src/ios/sourceCode/CellFormatOptionHelper.swift" />
    <source-file src="src/ios/sourceCode/ColorCode.swift" />
    <source-file src="src/ios/sourceCode/ColorHelper.swift" />
    <source-file src="src/ios/sourceCode/ColumnNameHelper.swift" />
    <source-file src="src/ios/sourceCode/CommandCopyHelper.swift" />
    <source-file src="src/ios/sourceCode/CommentHelper.swift" />
    <source-file src="src/ios/sourceCode/CommentIndicator.m" />
    <source-file src="src/ios/sourceCode/ConeditChannel.swift" />
    <source-file src="src/ios/sourceCode/CurrencyCode.swift" />
    <source-file src="src/ios/sourceCode/DataValidationIndicator.m" />
    <source-file src="src/ios/sourceCode/DateCode.swift" />
    <source-file src="src/ios/sourceCode/DateFormatUtil.swift" />
    <source-file src="src/ios/sourceCode/DateTimeSection.swift" />
    <source-file src="src/ios/sourceCode/DateTimeSectionBuilder.swift" />
    <source-file src="src/ios/sourceCode/DefaultSpreadsheetPropertyHelper.swift" />
    <source-file src="src/ios/sourceCode/ESSBorder.swift" />
    <source-file src="src/ios/sourceCode/ESSCell.swift" />
    <source-file src="src/ios/sourceCode/ESSCellFormat.swift" />
    <source-file src="src/ios/sourceCode/ESSColor.swift" />
    <source-file src="src/ios/sourceCode/ESSColumn.swift" />
    <source-file src="src/ios/sourceCode/ESSColumnFilter.swift" />
    <source-file src="src/ios/sourceCode/ESSComment.swift" />
    <source-file src="src/ios/sourceCode/ESSCommentEntry.swift" />
    <source-file src="src/ios/sourceCode/ESSConditionalFormatRule.swift" />
    <source-file src="src/ios/sourceCode/ESSEditPlugin.swift" />
    <source-file src="src/ios/sourceCode/ESSEditViewController.swift" />
    <source-file src="src/ios/sourceCode/ESSFont.swift" />
    <source-file src="src/ios/sourceCode/ESSLegacyCell.swift" />
    <source-file src="src/ios/sourceCode/ESSLegacyColumn.swift" />
    <source-file src="src/ios/sourceCode/ESSLegacyRow.swift" />
    <source-file src="src/ios/sourceCode/ESSPrivilege.swift" />
    <source-file src="src/ios/sourceCode/ESSProtectedRange.swift" />
    <source-file src="src/ios/sourceCode/ESSProtectedRule.swift" />
    <source-file src="src/ios/sourceCode/ESSRange.swift" />
    <source-file src="src/ios/sourceCode/ESSRangeHistory.swift" />
    <source-file src="src/ios/sourceCode/ESSRow.swift" />
    <source-file src="src/ios/sourceCode/ESSSimpleSpreadsheet.swift" />
    <source-file src="src/ios/sourceCode/ESSSimpleWorksheet.swift" />
    <source-file src="src/ios/sourceCode/ESSSpreadsheet.swift" />
    <source-file src="src/ios/sourceCode/ESSStyle.swift" />
    <source-file src="src/ios/sourceCode/ESSStyleTable.swift" />
    <source-file src="src/ios/sourceCode/ESSTable.swift" />
    <source-file src="src/ios/sourceCode/ESSTableColumn.swift" />
    <source-file src="src/ios/sourceCode/ESSTableRow.swift" />
    <source-file src="src/ios/sourceCode/ESSUser.swift" />
    <source-file src="src/ios/sourceCode/ESSValidation.swift" />
    <source-file src="src/ios/sourceCode/ESSWorksheet.swift" />
    <source-file src="src/ios/sourceCode/EnumHelper.swift" />
    <source-file src="src/ios/sourceCode/ExitAnimator.m" />
    <source-file src="src/ios/sourceCode/FontHelper.swift" />
    <source-file src="src/ios/sourceCode/FormatParseError.swift" />
    <source-file src="src/ios/sourceCode/FormatRuleHelper.swift" />
    <source-file src="src/ios/sourceCode/FormatType.swift" />
    <source-file src="src/ios/sourceCode/FormulaBarActionViewController.swift" />
    <source-file src="src/ios/sourceCode/FormulaBarView.swift" />
    <source-file src="src/ios/sourceCode/FormulaBarTextView.swift" />
    <source-file src="src/ios/sourceCode/FormulaHelper.swift" />
    <source-file src="src/ios/sourceCode/FormulaUtil.swift" />
    <source-file src="src/ios/sourceCode/FractionValue.swift" />
    <source-file src="src/ios/sourceCode/HScrollIndicator.m" />
    <source-file src="src/ios/sourceCode/HeartbeatClient.swift" />
    <source-file src="src/ios/sourceCode/HttpClient.swift" />
    <source-file src="src/ios/sourceCode/IDTranslator.swift" />
    <source-file src="src/ios/sourceCode/IconHelper.swift" />
    <source-file src="src/ios/sourceCode/JsonHelper.swift" />
    <source-file src="src/ios/sourceCode/LanguageManager.swift" />
    <source-file src="src/ios/sourceCode/LoadingView.swift" />
    <source-file src="src/ios/sourceCode/Formula.swift" />
    <source-file src="src/ios/sourceCode/FormulaRangeParser.swift" />
    <source-file src="src/ios/sourceCode/FormulaTokenArray.swift" />
    <source-file src="src/ios/sourceCode/FormulaToken.swift" />
    <source-file src="src/ios/sourceCode/FormulaParser.swift" />
    <source-file src="src/ios/sourceCode/MDSpreadView.m" />
    <source-file src="src/ios/sourceCode/MDSpreadViewCell.m" />
    <source-file src="src/ios/sourceCode/MDSpreadViewCellMap.m" />
    <source-file src="src/ios/sourceCode/MDSpreadViewHeaderCell.m" />
    <source-file src="src/ios/sourceCode/MainViewController+Animation.m" />
    <source-file src="src/ios/sourceCode/Message.swift" />
    <source-file src="src/ios/sourceCode/MessageHelper.swift" />
    <source-file src="src/ios/sourceCode/ModelCreationHelper.swift" />
    <source-file src="src/ios/sourceCode/NewIDGenerator.swift" />
    <source-file src="src/ios/sourceCode/NumberFormatUtil.swift" />
    <source-file src="src/ios/sourceCode/NumberSection.swift" />
    <source-file src="src/ios/sourceCode/NumberSectionBuilder.swift" />
    <source-file src="src/ios/sourceCode/NumberSectionType.swift" />
    <source-file src="src/ios/sourceCode/NumberValue.swift" />
    <source-file src="src/ios/sourceCode/PresentAnimator.m" />
    <source-file src="src/ios/sourceCode/ProgressBarViewController.swift" />
    <source-file src="src/ios/sourceCode/RangeHelper.swift" />
    <source-file src="src/ios/sourceCode/RangeManager.swift" />
    <source-file src="src/ios/sourceCode/Regex.swift" />
    <source-file src="src/ios/sourceCode/RemoteController.swift" />
    <source-file src="src/ios/sourceCode/RemoteSpreadsheetService.swift" />
    <source-file src="src/ios/sourceCode/RemoteWorksheetService.swift" />
    <source-file src="src/ios/sourceCode/SectionBuilder.swift" />
    <source-file src="src/ios/sourceCode/SheetManagerViewController.swift" />
    <source-file src="src/ios/sourceCode/SheetTabView.swift" />
    <source-file src="src/ios/sourceCode/SpreadViewCoordinatorBindingHelper.swift" />
    <source-file src="src/ios/sourceCode/SpreadsheetService.swift" />
    <source-file src="src/ios/sourceCode/StepView.swift" />
    <source-file src="src/ios/sourceCode/StringFormatUtil.swift" />
    <source-file src="src/ios/sourceCode/SystemHelper.swift" />
    <source-file src="src/ios/sourceCode/TextSection.swift" />
    <source-file src="src/ios/sourceCode/TextSectionBuilder.swift" />
    <source-file src="src/ios/sourceCode/Token.swift" />
    <source-file src="src/ios/sourceCode/TokenType.swift" />
    <source-file src="src/ios/sourceCode/UIColor+Hex.swift" />
    <source-file src="src/ios/sourceCode/UIImage+WAPIconInfo.swift" />
    <source-file src="src/ios/sourceCode/UILabelMargin.swift" />
    <source-file src="src/ios/sourceCode/URLHelper.swift" />
    <source-file src="src/ios/sourceCode/UUID+NSObject.swift" />
    <source-file src="src/ios/sourceCode/VScrollIndicator.m" />
    <source-file src="src/ios/sourceCode/ViewStatusToSave.m" />
    <source-file src="src/ios/sourceCode/WAPIconFont.swift" />
    <source-file src="src/ios/sourceCode/WAPIconInfo.swift" />
    <source-file src="src/ios/sourceCode/WebsocketClient.swift" />
    <source-file src="src/ios/sourceCode/WebsocketController.swift" />
    <source-file src="src/ios/sourceCode/WebsocketProcessor.swift" />
    <source-file src="src/ios/sourceCode/WebsocketUtil.swift" />
    <source-file src="src/ios/sourceCode/WorksheetLoader.swift" />
    <source-file src="src/ios/sourceCode/WorksheetNameHelper.swift" />
    <source-file src="src/ios/sourceCode/WorksheetService.swift" />
    <source-file src="src/ios/sourceCode/CellViewResourcePool.swift" />
    <source-file src="src/ios/sourceCode/DataValidationHelper.swift" />
    <source-file src="src/ios/sourceCode/MultiWorksheetController.swift" />
    <source-file src="src/ios/sourceCode/NumberHelper.swift" />
    <source-file src="src/ios/sourceCode/RemoteRowService.swift" />
    <source-file src="src/ios/sourceCode/RowService.swift" />
    <source-file src="src/ios/sourceCode/FormulaModel.swift" />
    <source-file src="src/ios/sourceCode/ResizeHeaderView.m" />
    <source-file src="src/ios/sourceCode/ScalableMDSpreadView.m" />
    <source-file src="src/ios/sourceCode/ScaleView.m" />
    <source-file src="src/ios/sourceCode/SelectionPanelView.m" />
    <source-file src="src/ios/sourceCode/WorksheetView.m" />
    <source-file src="src/ios/sourceCode/WorksheetViewWithSelPanel.m" />
    <source-file src="src/ios/sourceCode/CalcFormulaCommand.swift" />
    <source-file src="src/ios/sourceCode/CellRangeUpdateCommand.swift" />
    <source-file src="src/ios/sourceCode/Command.swift" />
    <source-file src="src/ios/sourceCode/DictionaryHelper.swift" />
    <source-file src="src/ios/sourceCode/FormulaHandler.swift" />
    <source-file src="src/ios/sourceCode/FormulaHandlerFactory.swift" />
    <source-file src="src/ios/sourceCode/NotificationType.swift" />
    <source-file src="src/ios/sourceCode/NullCommand.swift" />
    <source-file src="src/ios/sourceCode/SegmentTree.swift" />
    <source-file src="src/ios/sourceCode/UpdateNamedFormulas.swift" />
    <source-file src="src/ios/sourceCode/WorksheetOperationController.swift" />
    <source-file src="src/ios/sourceCode/FormulaBarOperationController.swift" />
    <source-file src="src/ios/sourceCode/CellStyleOperationController.swift" />
    <source-file src="src/ios/sourceCode/EditableAbstractGlobalCoordinator.swift" />
    <source-file src="src/ios/sourceCode/ShareCommonDelegate.swift" />
    <source-file src="src/ios/sourceCode/BorderTransform.swift" />
    <source-file src="src/ios/sourceCode/ColorTransform.swift" />
    <source-file src="src/ios/sourceCode/CommandHelper.swift" />
    <source-file src="src/ios/sourceCode/ConeditDef.swift" />
    <source-file src="src/ios/sourceCode/ESSFocus.swift" />
    <source-file src="src/ios/sourceCode/ESSSimpleRowEntity.swift" />
    <source-file src="src/ios/sourceCode/ESSUserOperation.swift" />
    <source-file src="src/ios/sourceCode/EntityCompress.swift" />
    <source-file src="src/ios/sourceCode/FontFamilyTransform.swift" />
    <source-file src="src/ios/sourceCode/FontSizeTransform.swift" />
    <source-file src="src/ios/sourceCode/MergeIdTransform.swift" />
    <source-file src="src/ios/sourceCode/MsgCompressor.swift" />
    <source-file src="src/ios/sourceCode/OperationCleaner.swift" />
    <source-file src="src/ios/sourceCode/OperationCoordinator.swift" />
    <source-file src="src/ios/sourceCode/ResizeRowCommand.swift" />
    <source-file src="src/ios/sourceCode/RowColumnResizeController.swift" />
    <source-file src="src/ios/sourceCode/SimpleListCompress.swift" />
    <source-file src="src/ios/sourceCode/CommandInterpreter.swift" />
    <source-file src="src/ios/sourceCode/JSONParsedCommand.swift" />
    <header-file src="src/ios/headerCode/AnimatorManager.h" />
    <header-file src="src/ios/headerCode/CanvasView.h" />
    <header-file src="src/ios/headerCode/CellCache.h" />
    <header-file src="src/ios/headerCode/CommentIndicator.h" />
    <header-file src="src/ios/headerCode/DataValidationIndicator.h" />
    <header-file src="src/ios/headerCode/ESSEditPlugin.h" />
    <header-file src="src/ios/headerCode/ExitAnimator.h" />
    <header-file src="src/ios/headerCode/HScrollIndicator.h" />
    <header-file src="src/ios/headerCode/MDSpreadView.h" />
    <header-file src="src/ios/headerCode/MDSpreadViewCell.h" />
    <header-file src="src/ios/headerCode/MDSpreadViewCellMap.h" />
    <header-file src="src/ios/headerCode/MDSpreadViewHeaderCell.h" />
    <header-file src="src/ios/headerCode/MainViewController+Animation.h" />
    <header-file src="src/ios/headerCode/PresentAnimator.h" />
    <header-file src="src/ios/headerCode/VScrollIndicator.h" />
    <header-file src="src/ios/headerCode/ViewStatusToSave.h" />
    <header-file src="src/ios/headerCode/ResizeHeaderView.h" />
    <header-file src="src/ios/headerCode/ScalableMDSpreadView.h" />
    <header-file src="src/ios/headerCode/ScaleView.h" />
    <header-file src="src/ios/headerCode/SelectionPanelView.h" />
    <header-file src="src/ios/headerCode/WorksheetView.h" />
    <header-file src="src/ios/headerCode/WorksheetViewWithSelPanel.h" />


    <config-file target="config.xml" parent="/*">
      <feature name="ESSEditPlugin">
        <!--ios 包， value：表示头文件的名字-->
        <param name="ios-package" value="ESSEditPlugin" onload="true"/>
      </feature>
    </config-file>
     <config-file target="*-Info.plist" parent="UIAppFonts">
      <array>
        <string>wapicon.ttf</string>
      </array>
    </config-file>
  </platform>
</plugin>
